
#main #main-content div.table{
	
	float:left;
	width:100%;
}
#main #main-content div.table table{
	width:100%;
	padding-bottom:15px;
	background:#fff;
	margin:0;
	margin-bottom:20px;
}
#main #main-content div.table table th{
	text-align:left;
	background: #F2F2F2;
	padding:8px 0;
	 
}
#main #main-content div.table table td{
	background:#fff;
	vertical-align: top;

}
#main #main-content div.table table tr.zhong td{
	padding:8px 0;

}
#main #main-content p{
	font-size:13px;
	padding:5px 0;
	text-align:right;
}
#main #main-content p input.submit{
	display:inline-block;
	width:120px;
	height:30px;
	background:#00A2C9;
	line-height: 30px;
	border-radius:4px;
	border:none;
    color:#fff;
    cursor:pointer;
    

}
#main #main-content p .monery{
	color:#FF6600;
	font-size:20px;

}
