a:hover{
	cursor: pointer;
}

#main{
	width: 100%;
	overflow: hidden;
	background: #EAEDF1;
	min-height:600px;
}
#main .main-left{
	float: left;
	color: #fff;
	width: 15%;
	background: #293038;
	margin-right: 1%;
	height: 100%;
}
#main .main-left a{
	color: #fff;
}
#main .main-left a:hover{
	text-decoration: none;	
}
#main .main-left dl{
	width: 85%;
	margin:0 auto;
}
#main .main-left dl dt,#main .main-left dl dd{
	line-height: 40px;
}
#main .main-left dl dt{
	text-align: center;	
	font-size: 14px;
}
#main .main-left dl dd .glyphicon:last-child{
	float: right;
	line-height: 40px;
}
#main .main-left dl dd > a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#main .main-left dl dd span:first-child{
	margin-right:10px;
}
#main .main-left dl dd span{
	color: #AEB9C2;
}
#main .main-left dl dd ul{
	display: none;
}
#main .main-left dl dd ul li{
	padding-left:20px;
}
#main .main-left dl dd ul li.on{
	background: #0099CC;
}
#main .main-left dl dd ul li:hover{
	background:#ccc;
}
	
#main .main-left dl dd ul li a{
	width: 100%;
	height:100%;
	display: inline-block;
}

#main .main-right{
	float: left;
	width:83%;
	
	margin-right: 1%;

}


/*搜索部分*/
#main .main-right .living .content .search{
	right: -32px;
	top:34px;
	position: absolute;
	background: #fff;
	padding:10px 20px;
	border:1px solid #ddd;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	width: 270px;
}
#main .main-right .living .content  .alert-search{
	display: inline-block;
	margin-right: 90px;
	float: right;
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
	background: #EAEDF1;
	padding:7px 10px;
	font-size: 13px;
}
#main .main-right .living .content .search .alert-search .milide{
	margin:0 10px;
}
#main .main-right .living .content .search .all-input label{
	display: inline-block;
	width: 60px;
	text-align: right;
}

#main .main-right .living .content .search .all-input input[type=text]{
	
	background: #EAEDF1;
	height:25px;
	padding-left: 5px;
	width: 150px;
	border:1px solid #ccc;
}
#main .main-right .living .content .search .all-input input:focus,#main .main-right .living .content .search .all-input select:focus{
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6);
	
	border:1px solid #66afe9;
}

#main .main-right .living .content .search .all-button{
	text-align: center;
	overflow: hidden;
}
#main .main-right .living .content .search .all-button p{
	text-align: center;
	width: 100%;
	padding-top: 10px; 
	border-top: 1px solid #ddd;
}

.status img{
	position: relative;
	top:-2px;
}
/*弹出信息*/
div#position{
	position: fixed;
	left: 48%;
	top:40%;
	background: #FF7A22;
	padding:10px;
	color: #fff;
	font-size: 14px;
	display: none;
	z-index: 99;
}